body
{
	font-family: "merienda One", cursive;
	display: flex;
	margin: 0;
}
*
{
	box-sizing: border-box;
}
					/* PARTIE GAUCHE*/
.header2
{
	display: none;
}
.presentation
{
	display: flex;
	flex-direction: column;
	width: 33%;
	min-width: 330px;
	background-color: #64b5f6;
	padding-top: 2%;
	padding-right: 2%;
}
.rounded-image
{
	width: 55%;
	border: 5px #B0BEC5 solid;
	border-radius: 50%;
	margin: 10% auto 20px;
}
.container
{
	display: flex;
	flex-direction: column;
}
.about
{
	display: flex;
	flex-direction: column;
	margin-bottom: 40%;
}
.contact, .loisirs
{
	display: flex;
	flex-direction: column;
	margin: 0;
}
.container h2
{
	font-size: 1.5em;
	background-color: #424242;
	text-transform: uppercase;
	color: #64b5f6;
	text-align: center;
	padding: 2%;
}
.contact p, .about p
{
	padding-left: 12%;
	padding-right: 12%;
	text-align: justify;
	font-size: 0.9em;
}
.icones-loisirs
{
	display: flex;
	justify-content: space-between;
	margin: 2% 10% 2% 10%;
	
}
.loisirs
{
	margin-top: 350px;
}
.presentation .fas
{
	border: 2px solid #212121;
	border-radius: 50%;
	margin: 0;
	padding: 2%;
}
					/* PARTIE DROITE*/
.parcours
{
	width: 65%;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
}
header
{
	margin: 100px 0 100px 20px;
}
.prenom
{
	font-size: 3.5em;
	color: #64b5f6;
}
.nom
{
	color: #212121;
}
h1
{
	font-size: 1.5em;
}
.line
{
	border: 1px solid #64b5f6;
	width: 13%;
}
.timeline
{
	flex-direction: column;
	margin-left: 10px;
}
.formation
{
	margin-top: 25px;
}
.logo
{
	color: #64b5f6;
	padding: 8px;
}
.title
{
	display: flex;
}
.presentation h2
{
	font-size: 1.5em;
	align-items: baseline;
	margin: 0 0 10px 20px;
}
.divider
{
	border: 1px solid #64b5f6;
	margin-bottom: 5%;
	width: 100%
}
ul
{
	
	padding-left: 0;
}
li
{
	display: flex;
	color: #64b5f6;
	list-style: none;
	margin-bottom: 5%;
}
i
{
	align-self: flex-start;
	margin-right: 15px;
}
.timeline i
{
	margin: 5px 10px 0 10px;
	 
}
.fa-circle
{
	font-size: 0.7em;
}
li p 
{
	width: 100%;
	margin: 0px;
	color: #212121;
	align-self: flex-start;
}

.desc
{
	color: #212121;
	margin: 0;
	width: 250%;
}
h3
{
	font-size: 1.2em;
	margin: 0;
}
h4
{
	margin: 10px 0 10px 0;
	color: #212121;
	font-weight: normal;
	font-size: 1em;	
}
.desc p
{
	font-size: 0.9em;
}
h5
{
	font-size: 1.3em;
	margin-top: 0;
}
h6
{
	font-size: 1em;
}
						/*ECRANS PETITE TAILLE*/
@media (max-width: 800px)
{
	body
	{
		display: flex;
		flex-direction: column;	
	}
	h1
	{
		font-size: 1em;
	}
	.presentation
	{
		background-color: white;
		display: flex;
		width: 100%;
		max-width: 800px;
		margin: 0;
		padding: 0;
		margin-bottom: 5%;
	}
	.rounded-image
	{
		width: 30%;
		margin-top: 20px;
	}
	header
	{
		display: none;
	}
	.prenom
	{
		font-size: 3.5em;
	}
	.metier
	{
		font-size: 2em;
	}
	.header2
	{
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0;	
	}
	.line
	{
		margin-bottom: 5%;
	}
	.container h2
	{
		padding: 0;
		border-radius: 20px;
		border: outset 5px;;
	}
	.contact
	{
		margin: 0;
	}
	.contact p
	{
		margin-top: 0;
	}
	.loisirs
	{
		margin-bottom: 20px;
	}
	.icones-loisirs
	{
		display: flex;
	}
	.icones-loisirs .fas
	{
		margin: auto;
	}
	.loisirs
	{
		margin-top: 0;
	}
	.about
	{
		margin-bottom: 0;
	}
	.parcours
	{
		width: 100%;
		padding: 0 5px;
	}
	.presentation h2
	{
		display: flex;
		margin: 0;
		width: 80%;
		align-self: center;
		justify-content: center;
	}
}