body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
/* header*/
.header {
  background-color: #333333;
}
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.prenom {
  color: lime;
  margin: 0;
  padding: 1% 0;
}

.metier {
  color: #b0bec5;
  font-size: 1em;
}

.contrat {
  color: #fff;
  font-size: 1em;
}

.description {
  font-size: 0.8em;
  width: 80%;
}

.rounded-image {
  width: 150px;
  border: 2px #b0bec5 solid;
  margin: 20px auto;
  border-radius: 3%;

}
/* PARTIE */

.presentation {
  display: flex;
  background: #333;
  justify-content: space-around;
}
.gauche, .droite {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  padding: 0 10px;
}

.gauche {
  flex-grow: 1;
}

.droite {
  background-color: #b0bec5;
  flex-grow: 2;
}

.box-gauche {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.box-unit {
  background-color: black;
  align-items: center;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
}

.competences {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.competences-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.competences-list-lang {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.competence-lang {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.competence-os {
  display: flex;
  justify-content: space-around;
}
.lot {
  display: flex;
  justify-content: space-around;
}

h6 {
  color: #fff;
  font-size: 1em;
}

.diplome {
  color: #fff;
  font-size: 0.8em;
}

h5 {
  font-size: 0.6em;
  margin: 0;
  color: rgb(31, 131, 31);
  text-align: center;
}

.title {
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
  color: rgb(31, 131, 31);
}

.form-title {
  font-size: 1em;
  margin: 0;
  color: rgb(31, 131, 31);
}

h3 {
  margin: 0;
  text-align: center;
  color: lime;
}

.titre-droite {
  font-size: 1.2em;
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.progress-bar {
  width: 0;
  height: 16px;
}

.competence {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0;
  padding: 2px;
}

.competence-lot {
  width: 45%;
}

.competence-lot2 {
  display: flex;
  width: 45%;
}

.competence-lot3 {
  width: 80%;
}

.competence-title {
  font-size: 0.8em;
  margin-bottom: 10px;
  color: #b0bec5;
  margin: 0;
}

.contact p {
  font-size: 0.8em;
  margin: 5px 0;
  color: #b0bec5;
}

.level {
  font-size: 0.8em;
  color: #b0bec5;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  color: #b0bec5;
  font-size: 0.8em;

}

.desc p, p {
  font-size: 0.8em;
  margin: 5px 0;
  color: #b0bec5;
}

.contact p {
  font-size: 0.6em;
  margin: 5px 0;
  color: #b0bec5;
}

/* PARTIE DROITE */
.droite {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #333333;
}
.projet {
  margin: 8px 0;
}
.projet p {
  font-weight: bold;
  margin: 0;
}

.projet a {
  margin-left: 10px;
  font-size: 0.8em;
}